name: PHPUnit

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["master"]

permissions:
  contents: read

jobs:
  phpunit:
    name: Run PHPUnit
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ["8.4"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer
          coverage: none

      - name: Validate composer.json
        run: composer validate --no-interaction

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit
